Наменование ТП: {{tariffName}}
Дата изменения: {{dateOfChange}}
{{#options}}
    - - -
    Старая стоимость: {{oldPrice}}
    Новая стоимость: {{newPrice}}
    Дата изменения: {{dateOfChange}}
    Тема: Изменения в тарифном плане {{tariffName}}
    Сообщение: В тарифе {{tariffName}} у сервиса {{optionName}} произошли следующие изменения:
    Стоимость изменена с {{oldPrice}} на {{newPrice}}.
{{/options}}